 
  .first{width:1024px;
         height:768px;
		 background-color: #00FFFF;
		 padding-top:60px; 
		 margin:0 auto;
		 background-image:url(../img/back.jpg);
		 background-position:right;
		 background-size: cover;
		  background-repeat: no-repeat;
		 
		 
		}
 .first_1{width:500px;
         height:300px;
		 margin-right: auto;
		 margin-left: auto;
		 background-image:url(../img/back1.png);
		/* margin-top:50px; */
		 }
 .first_2 {width:250px;
         height:100px;
 		margin-left: auto;
 		margin-right: auto;
 		/* background-color: aqua ; */
 		margin-top:-50px;
 		background-image:url(../img/back3.png);
 		text-align: center;
 		 }	
.first_2 p{      
        font-size:20pt;
		font-family: "arial narrow";
		font-weight: bold;
		/* text-align: center;
		margin:0 auto;
		 */
		  position: relative;
    margin:  auto; 
		 
   }
        /* 第二个页面的css */
		
.se_00{width:1024px;
       height:768px;
       background-color: #FF7F50;
	   padding-top:200px;
	    margin:0 auto;
		background-image:url(../img/back2.jpg);
		 background-position:right;
		background-size: cover;
		 background-repeat: no-repeat;
		
	   }
.se_01{width:250px;
        height:100px;
		margin-left: auto;
		margin-right: auto;
		/* background-color: #7FFF00; */
		background-image:url(../img/back3.png);
		text-align: center; 
		 
	   }	

.se_02{width:250px;
        height:100px;
		margin-left: auto;
		margin-right: auto;
		/* background-color: aqua ; */
		margin-top: 50px;
		background-image:url(../img/back3.png);
		text-align: center;
		 }	
		
.se_03{width:250px;
        height:100px;
		margin-left: auto;
		margin-right: auto;
		/* background-color: blue; */
		margin-top: 50px;
		background-image:url(../img/back3.png);
		text-align: center;
		 
		
		}
  p{ 
	width:200px;
	 line-height:100px;
     font-family: "arial black";
     font-size: 20px;
	 margin:0 auto;
  
  
 }
