/*  操作说明的css */
 
.caozuo{
 width:1024px;
height:768px;
background-color: blanchedalmond;
 margin:0 auto;
 background-image:url(../img/back4.jpg);
 background-position: right;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top:200px;
	 
}
.awz{
width:400px;
height:250px;
background-color:white;
text-align: center;
padding-top:20px;
margin:0 auto;
}
 
 p{   font-size:16px;
	  line-height:30px;
	  color: deeppink;
 }
 