*{padding: 0 ;
margin:0  } 
a{
	text-decoration: none;
}
.bg1{
width:980px;
height:650px;  
/* background-color: #0000FF; */
margin: 0 auto;
padding-top: 50px;
 background-image:url(../img/bj.jpg);
 background-size: cover;
 background-position:left;
 
}	
.wenzi1{
	width:500px;	
    margin:0 auto;	
 
	
}
.suzhou{
margin-top:50px;
width:100px;
height:150px;
background-color: #A52A2A;
float:left;
text-align: center;
background-image:url(../img/sz.png);
 
 
	
}	
.hangzhou{
margin-top:50px;
	margin-left: 20px;
width:100px;
height:150px;
background-color:blue;
float:left;
text-align: center;
background-image: url(../img/hz.png);
}	
.yangzhou{
margin-top:50px;
margin-left: 20px;
width:100px;
height:150px;
  float:left;
 text-align: center;
 background-image:url(../img/yz.png);
}
.lanzhou{
	margin-top:50px;
margin-left: 20px;
width:100px;
height:150px;
background-color: #FF7F50; 
float:left;
text-align: center;
 background-image:url(../img/lz.png);
}
 	
	
 
 .qingchu{clear:both;}
 
 .xia {
 	margin-top: 50px;
 	margin-left: 400px;
 	width: 50px;
 	height: 50px;
 	/* background-color: #7FFF00; */
 	background-image:url(../img/next.png);
 background-size: cover;
  position: absolute;
 	background-image:url(../img/next.png);
 }

 .xia p {
 	position: relative;
 	  left:10px;
 	font-size: 14px;
 	top: 15px;
	
	
 	 
 }
  .shang {
 	height: 50px;
 	background-image: url(../img/next.png);
    margin-top: 50px;
 	width: 50px;
 	background-size: cover;
 	position: absolute;
 
 
 
 }
.shang p{ 
	 position: relative;
     
	font-size: 14px;
 left:10px;
	top:15px;
	 
	 
}


 
  .tishi {
 	height: 50px;
 	background-image: url(../img/next.png);
    margin-top: 50px;
	 margin-left:210px;
 	width: 50px;
 	background-size: cover;
 	position: absolute;
    
 
 
 }
 
 
  .tishi:hover .context{
 	 
  display: block;
  } 
   
 .tishi .context{
 	
 display: none;
 }
 .context{
 	width: 400px;
 	height: 150px;
  
	border:2px solid  blueviolet;
    border-radius:20px;
 	margin-top:30px;
 	margin-left:-185px;
	padding-top:10px;
	border-color:red;
 } 
.tishi p{ 
	 position: relative;
     
	font-size: 14px;
    left:12px;
	top:15px;
	 
	 
}
#ts1{
	 width:360px;
	 height:150px;
	 margin:0 auto;
	 text-decoration: underline;
	 color:blue;
	 font-family:宋体;
	 font-weight:bolder;
     line-height:30px ;
	 text-indent: 2em;
  }
 #mydiv{
	 width:333px; height:250px;
	 left:350px; top:75px; 
	 background-image:url(../img/hdzq.png);
	 position:absolute; z-index:2;
 
	 
	 
}
 #mydiv2{
	 width:333px; height:250px;
	 left:350px; top:75px; 
	 background-image:url(../img/hdcw.png);
	 position:absolute; z-index:3;
 }

 
/* 第二个页面 */
 
.bg2{
width:980px;
height:690px;
/* background-color: cornsilk; */
margin:0 auto;
 background-image:url(../img/bj.jpg);
 background-size: cover;
 background-position:bottom;
}	
.wenzi2{
	width:500px;	
	height:150px;
	background-color: white;
    margin:0 auto;
	text-align: center;
	background-image: url(../img/xcbj1.jpg);
	padding-top:20px;
}	

.xiaoxi{
margin-top:150px;
width:100px;
height:150px;
 
float:left;
margin-left:20px; 
background-image:url(../img/xx.png);
}	
.xiaoquan{
margin-top: 150px;
	margin-left: 20px;
width:100px;
height:150px;
background-image:url(../img/xq.png);
float:left;
}	
.xiaohe{
	margin-top: 150px;
margin-left: 20px;
width:100px;
height:150px;
 background-image:url(../img/xh.png);
 float:left;
}
.xiaochi{
	margin-top: 150px;
margin-left: 20px;
width:100px;
height:150px;
 background-image:url(../img/xc1.png);
float:left;
}
 
 
  .xia1 {
  	margin-top: 50px;
  	margin-left: 430px;
  	width: 50px;
  	height: 50px;
  	/* background-color: #7FFF00; */
  	background-image:url(../img/next.png);
  background-size: cover;
   position: absolute;
  	background-image:url(../img/next.png);
  }
 
  .xia1 p {
  	position: relative;
  	 left:4px;
  	font-size: 14px;
  	top: 15px;
	
 	
 	
  	 
  }
   .shang1 {
  	height: 50px;
  	background-image: url(../img/next.png);
     margin-top: 50px;
  	width: 50px;
  	background-size: cover;
  	position: absolute;
  
  
  
  }
 .shang1 p{ 
 	 position: relative;
      
 	font-size: 14px;
  left:4px;
 	top:15px;
 	 
 	 
 }
 
 
  
   .tishi1 {
  	height: 50px;
  	background-image: url(../img/next.png);
     margin-top: 50px;
 	 margin-left:210px;
  	width: 50px;
  	background-size: cover;
  	position: absolute;
     
  
  
  }
  
   .tishi1 .context1{
  	
  display: none;
  }
   .tishi1:hover .context1{
  	 
   display: block;
   } 
    
 
  .context1{
  	width: 400px;
  	height: 150px;
   
 	border:2px solid  blueviolet;
     border-radius:20px;
  	margin-top:30px;
  	margin-left:-165px;
 	padding-top:10px;
 	border-color:red;
  } 
 .tishi1 p{ 
 	 position: relative;
      
 	font-size: 14px;
     left:2px;
 	top:15px;
 	 
 	 
 }
 
 
 
 
 
 #ts2{
 	 width:360px;
 	 height:150px;
 	 margin:0 auto;
 	 text-decoration: underline;
 	 color:blue;
 	 font-family:宋体;
 	 font-weight:bolder;
      line-height:30px ;
 	 
   }