 body {
  	margin: 0;
  }
  a{
  	text-decoration: none;
  }
.bg1{
width:980px;
height:650px;  
background-color: green;
margin: 0 auto;
padding-top:50px;
background-image: url(../img/bj.jpg);
background-repeat: no-repeat;
background-position: top;
background-size: cover;
  
 }	
.wenzi1{
	width:600px;	
    margin-left:150px;
    
	
	}
 
 
 .xia {
  	margin-top: 50px;
  	margin-left: 420px;
  	width: 50px;
  	height: 50px;
  	/* background-color: #7FFF00; */
  	background-image:url(../img/next.png);
  background-size: cover;
   position: absolute;
  	background-image:url(../img/next.png);
  }
 
  .xia p {
  	position: relative;
  	margin: auto;
  	font-size: 14px;
  	top: 15px;
  	left: 10px;
  }
   .shang {
  	height: 50px;
  	background-image: url(../img/next.png);
     margin-top: 50px;
  	width: 50px;
  	background-size: cover;
  	position: absolute;
  
  
  
  }
 .shang p{ 
 	 position: relative;
     margin:  auto ;
 	font-size: 14px;
  
 	top:15px;
 	left:10px;
 	 
 }
 
 
  
   .tishi {
  	height: 50px;
  	background-image: url(../img/next.png);
     margin-top: 50px;
 	 margin-left:200px;
  	width: 50px;
  	background-size: cover;
  	position: absolute;
  }
 .tishi:hover .context{
	 
 display: block;
 } 
  
.tishi .context{
	
display: none;
}
.context{
	width: 400px;
	height: 160px;
	 
    font-size:10px;
	margin-top:30px;
	margin-left:-165px;
   padding-top:10px;
	font-size: 14px;
   border:2px solid  ;
   border-color: orangered;
 border-radius:20px;
} 


 .tishi p{ 
 	 position: relative;
     margin:  auto ;
 	font-size: 14px;
  
 	top:15px;
 	left:12px;
 	 
 }
 #ts1{
	 width:360px;
	/* height:200px; */
	 margin:0 auto;
	 text-decoration: underline;
	 color:blue;
	 font-family:宋体;
	 font-weight:bolder;
 line-height:30px ; }
 
  #mydiv{
 	 width:333px; height:250px;
 	 left:600px; top:75px; 
 	 background-image:url(../img/hdzq.png) ;
 	 position:absolute; z-index:2;
  
 	 
 	 
 }
  #mydiv2{
 	 width:333px; height:250px;
 	 left:600px; top:75px; 
 	 background-image:url(../img/hdcw.png) ;
 	 position:absolute; z-index:3;
 }

	/* 第二个页面 */
 .bg2{
 width:980px;
 height:690px;
 padding-top:15px;
 margin:0 auto;
 background-image: url(../img/bj.jpg);
 background-repeat: no-repeat;
 background-position: left;
 background-size: cover;
 }	
 .wenzi2{
 	width:500px;	
 	height:140px;
 	 background-color: azure;
    margin:0 auto;
    text-align:center;
    border: 5px solid palegreen;
	padding-top:5px;
	line-height:10px;
	 
 }
 
 
 .panduan{
	 width:500px;	
	 height:200px;
	 /* background-color: white; */
	 margin:0 auto; 
	 margin-top:30px;  
	 
}	

 #ts2{
	 width:360px;
	 height:200px;
	 margin:0 auto;
	 text-decoration: underline;
	 color:blue;
	 font-family:宋体;
	 font-weight:bolder;
     line-height:30px ;
    }