 
   .last{width:1024px;
          height:768px;
 		 background-color: #00FFFF;
 		 padding-top:50px; 
 		 margin:0 auto;
		  background-image:url(../img/back15.jpg);
		 background-size: cover;
		 background-position:top;
		 
 		}
 
 		
.last_1{ width:150px;
        height:100px;
		margin-left: auto;
		margin-right: auto;
		 
		/* background-color: #7FFF00; */
		background-image:url(../img/xin.png);
	    background-repeat:no-repeat;
	    background-position: center;
		text-align: center;
	   }
 .last_2{width:150px;
        height:100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		/* background-color: #7FFF00; */
		background-image:url(../img/xin.png);
		text-align: center; 
		background-repeat:no-repeat; 
		 background-position: center;
	   }
 		
   p{ 
	width:50px;
	 line-height:100px;
     font-family: "arial black";
     font-size:12px;
	 margin:0 auto;
  
  
 }

  
 