 a{
 	text-decoration: none;
 }
  .bg1{
  width:980px;
  height:650px;  
  background-color: green;
  margin: 0 auto;
  padding-top:30px;
 background-image:url(../img/bj.jpg);
 background-size:cover;
 background-position:left top;
   } 
.wenzi{
	width:500px;	
	height:80px;
	line-height:30px;
    margin:0 auto;
	text-align: center;
	
}
*{
 padding: 0px;
 margin: 0px;
}


.box{ 
	width:  372px;
	 
	margin:0 auto; 
	margin-top:100px;
	}
.box ul{
	list-style: none;
	float: left;
}
.box ul li{float: left;
margin-top: -4px;
 }
 #success{
	 display: none;
	 text-align: center;
	 
 }
  .xia {
  	margin-top: 50px;
  	margin-left: 700px;
  	width: 50px;
  	height: 50px;
  	/* background-color: #7FFF00; */
  	background-image:url(../img/next.png);
  background-size: cover;
   position: absolute;
  	background-image:url(../img/next.png);
  }
 
  .xia p {
  	position: relative;
  	margin: auto;
  	font-size: 14px;
  	top: 15px;
  	left: 8px;
  }
   .shang {
  	height: 50px;
  	background-image: url(../img/next.png);
     margin-top: 50px;
  	width: 50px;
  	background-size: cover;
  	position: absolute;
    margin-left: 200px;
  
  
  }
 .shang p{ 
 	 position: relative;
     margin:  auto ;
 	font-size: 14px;
  
 	top:15px;
 	left:10px;
 	 
 }